## 1. Update Data

In [58]:
import requests
from bs4 import BeautifulSoup
from datetime import timedelta, date
import numpy as np
import pandas  as pd
import pickle

def getTodayIndex(year, month, day):
    keys = {'syear': year, 'smonth': month, 'sday': day}
    r = requests.post("http://www.taifex.com.tw/chinese/3/3_1_1.asp", data = keys)
    soup = BeautifulSoup(r.text, "lxml")
    soup_data = soup.select('table')[2].select('table')[1].select('td')
    return soup_data

def getData(start):

    data = {'date':[], 'open':[], 'high':[], 'low':[], 'settlement':[], 'volume':[], 
            'close':[], 'open_int':[], 'close_best_bid':[], 'close_best_ask':[], 'weekday':[]}

    day = date(start[0], start[1], start[2])
    today = date.today()
    span = ((today - day).days) + 1
    interval = timedelta(days=1)


    def addtoData(column, index):
        try:
            data[column].append(int(soup_data[index].text))
        except Exception as e:
            print (e)
            data[column].append(np.nan)

    for _ in range(span):
        try:
            soup_data = getTodayIndex(day.year, day.month, day.day)
            data['date'].append(day)
            data['weekday'].append(day.isoweekday())
            addtoData('open', 2)
            addtoData('high', 3)
            addtoData('low', 4)
            addtoData('settlement', 5)
            addtoData('volume', 8)
            addtoData('close', 9)
            addtoData('open_int', 10)
            addtoData('close_best_bid', 11)
            addtoData('close_best_ask', 12)
            print ('%d/%d/%d is loaded' %(day.year, day.month, day.day))
        except Exception as e:
            #print (e)
            print ('stock market was not open on %d/%d/%d' %(day.year, day.month, day.day))
        day += interval

    df = pd.DataFrame(data)

    return df

# df = getData([1998,7,21])

# with open('TWfuture.pickle','wb') as f:
#     pickle.dump(df, f)

pickle_in = open('TWfuture.pickle', 'rb')

df = pickle.load(pickle_in)

DF_Final_day = df['date'][df.index[-1]] + timedelta(days=1)
start_day = [DF_Final_day.year ,DF_Final_day.month, DF_Final_day.day ]

df_append = getData(start_day)

# df_append.set_index('date', inplace=True)

df = pd.concat([df,df_append])

df = df[['date','weekday', 'open', 'high', 'low', 'settlement', 'volume',
         'close', 'open_int', 'close_best_bid', 'close_best_ask']]

with open('TWfuture.pickle','wb') as f:
    pickle.dump(df, f)
    
df.tail(5)

,date,weekday,open,high,low,settlement,volume,close,open_int,close_best_bid,close_best_ask
14,2017-06-12,1.0,10129.0,10159.0,10110.0,10120.0,12110.0,110070.0,122180.0,10118.0,93059.0
15,2017-06-13,2.0,10123.0,10143.0,10106.0,10137.0,11149.0,91633.0,102782.0,10136.0,91154.0
16,2017-06-14,3.0,10161.0,10165.0,10021.0,10065.0,6480.0,169231.0,175711.0,10062.0,85236.0
17,2017-06-15,4.0,10051.0,10075.0,10018.0,10073.0,8744.0,114510.0,123254.0,10072.0,81748.0
18,2017-06-16,5.0,10078.0,10159.0,10061.0,10146.0,13171.0,133595.0,146766.0,10146.0,73970.0

## More

In [2]:
import requests
from bs4 import BeautifulSoup
from datetime import timedelta, date
import numpy as np
import pandas  as pd
import pickle

def getTodayIndex(year, month, day):
    keys = {'syear': year, 'smonth': month, 'sday': day}
    r = requests.post("http://www.taifex.com.tw/chinese/3/3_1_1.asp", data = keys)
    soup = BeautifulSoup(r.text, "lxml")
    soup_data = soup.select('table')[2].select('table')[1].select('td')
    return soup_data

soup = getTodayIndex(2017,6,15)

In [45]:
pickle_in = open('TWfuture.pickle', 'rb')
df = pickle.load(pickle_in)
df.head(5)

,weekday,open,high,low,settlement,volume,close,open_int,close_best_bid,close_best_ask
0.0,2.0,8131.0,8131.0,8036.0,8045.0,0.0,208.0,208.0,8045.0,137.0
1.0,3.0,7950.0,7950.0,7820.0,7870.0,0.0,360.0,360.0,7870.0,279.0
2.0,4.0,7830.0,7859.0,7802.0,7825.0,0.0,190.0,190.0,7825.0,357.0
3.0,5.0,7750.0,7835.0,7740.0,7835.0,0.0,340.0,340.0,7835.0,420.0
4.0,1.0,7830.0,7835.0,7780.0,7786.0,0.0,150.0,150.0,7786.0,466.0

In [54]:
df

,date,weekday,open,high,low,settlement,volume,close,open_int,close_best_bid,close_best_ask
0,2017-05-22,1.0,9965.0,9980.0,9942.0,9975.0,6232.0,84227.0,90459.0,9974.0,93244.0
1,2017-05-23,2.0,9984.0,10017.0,9968.0,9994.0,4286.0,97438.0,101724.0,9994.0,94444.0
2,2017-05-24,3.0,10007.0,10030.0,9998.0,10020.0,4118.0,79667.0,83785.0,10020.0,96916.0
3,2017-05-25,4.0,10042.0,10110.0,10040.0,10107.0,3423.0,99562.0,102985.0,10107.0,101794.0
4,2017-05-26,5.0,10130.0,10131.0,10080.0,10093.0,7124.0,103748.0,110872.0,10093.0,97109.0
5,2017-05-31,3.0,10085.0,10105.0,10023.0,10031.0,3986.0,111055.0,115041.0,10029.0,94919.0
6,2017-06-01,4.0,10030.0,10075.0,10023.0,10069.0,6630.0,86130.0,92760.0,10070.0,93799.0
7,2017-06-02,5.0,10113.0,10137.0,10105.0,10135.0,4300.0,93461.0,97761.0,10134.0,92627.0
8,2017-06-03,6.0,10147.0,10160.0,10137.0,10157.0,6815.0,23927.0,30742.0,10156.0,92343.0
9,2017-06-05,1.0,10148.0,10207.0,10115.0,10200.0,0.0,109207.0,109207.0,10202.0,93579.0
10,2017-06-06,2.0,10196.0,10206.0,10184.0,10185.0,4086.0,63197.0,67283.0,10185.0,92296.0
11,2017-06-07,3.0,10180.0,10229.0,10165.0,10192.0,5720.0,113720.0,119440.0,10191.0,92628.0
12,2017-06-08,4.0,10204.0,10218.0,10184.0,10211.0,3777.0,72661.0,76438.0,10212.0,93937.0
13,2017-06-09,5.0,10230.0,10252.0,10186.0,10192.0,6565.0,101940.0,108505.0,10191.0,91900.0
14,2017-06-12,1.0,10129.0,10159.0,10110.0,10120.0,12110.0,110070.0,122180.0,10118.0,93059.0
15,2017-06-13,2.0,10123.0,10143.0,10106.0,10137.0,11149.0,91633.0,102782.0,10136.0,91154.0
16,2017-06-14,3.0,10161.0,10165.0,10021.0,10065.0,6480.0,169231.0,175711.0,10062.0,85236.0
17,2017-06-15,4.0,10051.0,10075.0,10018.0,10073.0,8744.0,114510.0,123254.0,10072.0,81748.0
18,2017-06-16,5.0,10078.0,10159.0,10061.0,10146.0,13171.0,133595.0,146766.0,10146.0,73970.0