# Regression Week 2: Multiple Regression (Interpretation)

The goal of this first notebook is to explore multiple regression and feature engineering with existing graphlab functions.

In this notebook you will use data on house sales in King County to predict prices using multiple regression. You will:
* Use SFrames to do some feature engineering
* Use built-in graphlab functions to compute the regression weights (coefficients/parameters)
* Given the regression weights, predictors and outcome write a function to compute the Residual Sum of Squares
* Look at coefficients and interpret their meanings
* Evaluate multiple models via RSS

# Import sci-kit learn

In [2]:
import pandas as pd
import numpy as np
from  sklearn import linear_model 
from sklearn.model_selection import train_test_split

# Load in house sales data

Dataset is from house sales in King County, the region where the city of Seattle, WA is located.

In [3]:
sales = pd.read_csv("kc_house_data.csv", index_col=False)
sales.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Split data into training and testing.
We use seed=0 so that everyone running this notebook gets the same results.  In practice, you may set a random seed (or let GraphLab Create pick a random seed for you).

In [4]:
train_data,test_data = train_test_split(sales, test_size = 0.25, random_state = 5)

# Learning a multiple regression model

Recall we can use the following code to learn a multiple regression model predicting 'price' based on the following features:
example_features = ['sqft_living', 'bedrooms', 'bathrooms'] on training data with the following code:

(Aside: We set validation_set = None to ensure that the results are always the same)

In [5]:
example_features = ['sqft_living', 'bedrooms', 'bathrooms']


LinearRegression_model = linear_model.LinearRegression()
LinearRegression_model.fit(train_data[example_features], train_data['price'], )
LinearRegression_model_score = LinearRegression_model.score(test_data[example_features],test_data['price'])
print('LinearRegression Model score', LinearRegression_model_score)

Ridge_model = linear_model.Ridge(alpha=0.5)
Ridge_model.fit(train_data[example_features], train_data['price'], )
Ridge_model_score = Ridge_model.score(test_data[example_features],test_data['price'])
print('Ridge Model score', Ridge_model_score)

Lasso_model = linear_model.Lasso(alpha=0.1)
Lasso_model.fit(train_data[example_features], train_data['price'], )
Lasso_model_score = Lasso_model.score(test_data[example_features],test_data['price'])
print('Lasso Model score', Lasso_model_score)

LinearRegression Model score 0.51565046159
Ridge Model score 0.51565039472
Lasso Model score 0.515650433961

Now that we have fitted the model we can extract the regression weights (coefficients) as an SFrame as follows:

In [6]:
LinearRegression_model_weight = LinearRegression_model.coef_
Ridge_model_weight = Ridge_model.coef_
Lasso_model_weight = Lasso_model.coef_
print ('LinearRegression model weight', LinearRegression_model_weight)
print ('Ridge model weight', Ridge_model_weight)
print ('Lasso model weight', Lasso_model_weight)

LinearRegression model weight [   312.20544621 -57492.66964459   3680.40090507]
Ridge model weight [   312.20436153 -57489.54096282   3679.26673889]
Lasso model weight [   312.20560052 -57492.45718436   3679.96372531]

# Making Predictions

In the gradient descent notebook we use numpy to do our regression. In this book we will use existing graphlab create functions to analyze multiple regressions. 

Recall that once a model is built we can use the .predict() function to find the predicted values for data we pass. For example using the example model above:

In [7]:
LinearRegression_model_predictions = LinearRegression_model.predict(train_data[example_features])
print(LinearRegression_model_predictions[0])

595616.907914

# Compute RSS

Now that we can make predictions given the model, let's write a function to compute the RSS of the model. Complete the function below to calculate RSS given the model, data, and the outcome.

In [8]:
def get_residual_sum_of_squares(model, data, outcome):
    # First get the predictions
    predictions = model.predict(data)
    # Then compute the residuals/errors
    residuals = outcome - predictions
    # Then square and add them up
    RSS = (residuals * residuals ).sum()
    return RSS

Test your function by computing the RSS on TEST data for the example model:

In [9]:
rss_example_train = get_residual_sum_of_squares(LinearRegression_model, test_data[example_features], test_data['price'])
print('RSS:', rss_example_train) # should be 2.7376153833e+14

RSS: 3.47526033386e+14

# Create some new features

Although we often think of multiple regression as including multiple different features (e.g. # of bedrooms, squarefeet, and # of bathrooms) but we can also consider transformations of existing features e.g. the log of the squarefeet or even "interaction" features such as the product of bedrooms and bathrooms.

You will use the logarithm function to create a new feature. so first you should import it from the math library.

In [10]:
from math import log
import numpy as np

Next create the following 4 new features as column in both TEST and TRAIN data:
* bedrooms_squared = bedrooms\*bedrooms
* bed_bath_rooms = bedrooms\*bathrooms
* log_sqft_living = log(sqft_living)
* lat_plus_long = lat + long 
As an example here's the first one:

In [11]:
train_data.loc[:,('bedrooms_squared')] = train_data['bedrooms'].pow(2)
test_data.loc[:,('bedrooms_squared')] = test_data['bedrooms'].pow(2)

/Users/MH/anaconda/envs/py36/lib/python3.6/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/MH/anaconda/envs/py36/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [12]:
# create the remaining 3 features in both TEST and TRAIN data
train_data.loc[:,'bed_bath_rooms'] = train_data.eval('bedrooms*bathrooms')
test_data.loc[:,'bed_bath_rooms'] = test_data.eval('bedrooms*bathrooms')

train_data.loc[:,'log_sqft_living'] = train_data['sqft_living'].apply(lambda x: log(x))
test_data.loc[:,'log_sqft_living'] = test_data['sqft_living'].apply(lambda x: log(x))

train_data.loc[:,'lat_plus_long'] = train_data['lat'] + train_data['long']
test_data.loc[:,'lat_plus_long'] = test_data['lat'] + test_data['long']

/Users/MH/anaconda/envs/py36/lib/python3.6/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/MH/anaconda/envs/py36/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

* Squaring bedrooms will increase the separation between not many bedrooms (e.g. 1) and lots of bedrooms (e.g. 4) since 1^2 = 1 but 4^2 = 16. Consequently this feature will mostly affect houses with many bedrooms.
* bedrooms times bathrooms gives what's called an "interaction" feature. It is large when *both* of them are large.
* Taking the log of squarefeet has the effect of bringing large values closer together and spreading out small values.
* Adding latitude to longitude is totally non-sensical but we will do it anyway (you'll see why)

**Quiz Question: What is the mean (arithmetic average) value of your 4 new features on TEST data? (round to 2 digits)**

In [13]:
print('bedrooms_squared mean:', test_data['bedrooms_squared'].mean())
print('bed_bath_rooms mean:', test_data['bed_bath_rooms'].mean())
print('log_sqft_living mean:', test_data['log_sqft_living'].mean())
print('lat_plus_long mean:', test_data['lat_plus_long'].mean())

bedrooms_squared mean: 12.2470392302
bed_bath_rooms mean: 7.5174407846
log_sqft_living mean: 7.54897213526
lat_plus_long mean: -74.6527431532

# Learning Multiple Models

Now we will learn the weights for three (nested) models for predicting house prices. The first model will have the fewest features the second model will add one more feature and the third will add a few more:
* Model 1: squarefeet, # bedrooms, # bathrooms, latitude & longitude
* Model 2: add bedrooms\*bathrooms
* Model 3: Add log squarefeet, bedrooms squared, and the (nonsensical) latitude + longitude

In [14]:
model_1_features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']
model_2_features = model_1_features + ['bed_bath_rooms']
model_3_features = model_2_features + ['bedrooms_squared', 'log_sqft_living', 'lat_plus_long']

train_data.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
10180,5201000030,20150323T000000,597000.0,4,2.50,2370,41338,2.0,0,0,...,0,98077,47.7379,-122.052,2340,46661,16,10.00,7.770645,-74.3141
4638,1023079147,20140820T000000,652500.0,4,2.25,2220,130244,2.0,0,0,...,0,98027,47.4989,-121.900,2680,130680,16,9.00,7.705262,-74.4011
15437,4094800380,20150427T000000,990000.0,3,2.25,2630,12899,2.0,0,0,...,0,98040,47.5479,-122.233,3140,15320,9,6.75,7.874739,-74.6851
19223,9407001830,20140717T000000,338000.0,5,2.00,1860,9000,2.0,0,0,...,0,98045,47.4484,-121.772,1390,9752,25,10.00,7.528332,-74.3236
16532,8910500471,20150217T000000,407000.0,3,1.00,1140,7785,1.0,0,0,...,0,98177,47.7090,-122.363,2080,10620,9,3.00,7.038784,-74.6540

Now that you have the features, learn the weights for the three different models for predicting target = 'price' using graphlab.linear_regression.create() and look at the value of the weights/coefficients:

In [15]:
# Learn the three models: (don't forget to set validation_set = None)
LinearRegression_model_1_features = linear_model.LinearRegression()
LinearRegression_model_1_features.fit(train_data[model_1_features], train_data['price'].to_frame())
Model_1_features_Score = LinearRegression_model_1_features.score(test_data[model_1_features],test_data['price'].to_frame())
print('LinearRegression Model score', Model_1_features_Score)

LinearRegression_model_2_features = linear_model.LinearRegression()
LinearRegression_model_2_features.fit(train_data[model_2_features], train_data['price'].to_frame())
Model_2_features_Score = LinearRegression_model_2_features.score(test_data[model_2_features],test_data['price'].to_frame())
print('LinearRegression Model score', Model_2_features_Score)

LinearRegression_model_3_features = linear_model.LinearRegression()
LinearRegression_model_3_features.fit(train_data[model_3_features], train_data['price'].to_frame())
Model_3_features_Score = LinearRegression_model_3_features.score(test_data[model_3_features],test_data['price'].to_frame())
print('LinearRegression Model score', Model_3_features_Score)

LinearRegression Model score 0.599485987041
LinearRegression Model score 0.604786145541
LinearRegression Model score 0.622846030002

In [17]:
# Examine/extract each model's coefficients:
LinearRegression_model_1_features_weight = LinearRegression_model_1_features.coef_
LinearRegression_model_2_features_weight = LinearRegression_model_2_features.coef_
LinearRegression_model_3_features_weight = LinearRegression_model_3_features.coef_

print ('Features 1 weight', LinearRegression_model_1_features_weight)
print ('Features 2 weight', LinearRegression_model_2_features_weight)
print ('Features 3 weight', LinearRegression_model_3_features_weight)

Features 1 weight [[  3.09747191e+02  -5.31194178e+04   1.31209917e+04   6.58383490e+05
   -3.13743466e+05]]
Features 2 weight [[  3.04172400e+02  -1.03627991e+05  -7.08178246e+04   6.55429996e+05
   -2.98508036e+05   2.44852805e+04]]
Features 3 weight [[  5.29189632e+02  -1.67082344e+03   9.49643027e+04   5.32038757e+05
   -4.06634867e+05  -1.70988079e+04   8.08139522e+02  -5.53905819e+05
    1.25403891e+05]]

**Quiz Question: What is the sign (positive or negative) for the coefficient/weight for 'bathrooms' in model 1?**

** positive + **

**Quiz Question: What is the sign (positive or negative) for the coefficient/weight for 'bathrooms' in model 2?**

** negative - **

Think about what this means.

# Comparing multiple models

Now that you've learned three models and extracted the model weights we want to evaluate which model is best.

First use your functions from earlier to compute the RSS on TRAINING Data for each of the three models.

In [23]:
# Compute the RSS on TRAINING data for each of the three models and record the values:
LinearRegression_model_1_features_RSS = LinearRegression_model_1_features.score(train_data[model_1_features], train_data['price'].to_frame())
LinearRegression_model_2_features_RSS = LinearRegression_model_2_features.score(train_data[model_2_features], train_data['price'].to_frame())
LinearRegression_model_3_features_RSS = LinearRegression_model_3_features.score(train_data[model_3_features], train_data['price'].to_frame())

print ('Features 1 training data RSS', LinearRegression_model_1_features_RSS)
print ('Features 2 training data RSS', LinearRegression_model_2_features_RSS)
print ('Features 3 training data RSS', LinearRegression_model_3_features_RSS)

Features 1 training data RSS 0.587500050874
Features 2 training data RSS 0.591086084017
Features 3 training data RSS 0.61434312109

**Quiz Question: Which model (1, 2 or 3) has lowest RSS on TRAINING Data?** Features 3 

Is this what you expected? yes

Now compute the RSS on on TEST data for each of the three models.

In [20]:
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    # First get the predictions
    predicted_values = []
    for test_feature_data  in test_feature:
        predicted_values.append((test_slope*test_feature_data).sum() + test_intercept)
    # then compute the residuals (since we are squaring it doesn't matter which order you subtract)
    residuals = predicted_values - output
    # square the residuals and add them up
    RSS = str((residuals * residuals).sum())
    return(RSS)

In [22]:
# Compute the RSS on TESTING data for each of the three models and record the values:
test_feature = train_data[model_1_features].as_matrix()
test_output = train_data['price'].as_matrix()
test_slope = LinearRegression_model_1_features.coef_
test_intercept = LinearRegression_model_1_features.intercept_
model_1_features_test_RSS = get_residual_sum_of_squares(test_feature, test_output, test_intercept, test_slope)

test_feature = train_data[model_2_features].as_matrix()
test_slope = LinearRegression_model_2_features.coef_
test_intercept = LinearRegression_model_2_features.intercept_
model_2_features_test_RSS = get_residual_sum_of_squares(test_feature, test_output, test_intercept, test_slope)

test_feature = train_data[model_3_features].as_matrix()
test_slope = LinearRegression_model_3_features.coef_
test_intercept = LinearRegression_model_3_features.intercept_
model_3_features_test_RSS = get_residual_sum_of_squares(test_feature, test_output, test_intercept, test_slope)


print ('Features 1 test data RSS', model_1_features_test_RSS)
print ('Features 2 test data RSS', model_2_features_test_RSS)
print ('Features 3 test data RSS', model_3_features_test_RSS)

Features 1 test data RSS 5.64915460336e+19
Features 2 test data RSS 5.66191558288e+19
Features 3 test data RSS 5.74467627191e+19

**Quiz Question: Which model (1, 2 or 3) has lowest RSS on TESTING Data?** Is this what you expected? Think about the features that were added to each model from the previous.

Features 1 , No, not my expection